* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;

}
.input-group {
    margin: 20px 0;
    position: relative;

}

.input-group label{
    position:absolute;
    transform:translateY(-30%) ;
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    color: white;
    padding: 0 5px;
    transition: .5s;

}

.input-group input{
    width: 300px;
    height: 60px;
    color: darkgrey;
    font-size: 20px;
    padding: 0 20px;
    border: 1.2px solid white;
    background: transparent;
    outline: none;
    border-radius: 5px;

}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    background: #010031;
    font-size: 15px;

}